.preview-container {
  display: flex;
  padding: 5px 5px 0 5px;
  cursor: pointer;
}

.thumbnail {
  margin-right: 5px;
}

.description {
  vertical-align: text-bottom;
}

.meta div {
  margin-bottom: 10px;
}
