.player-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.8rem;
}

.player-container .video-container {
  position: relative;
  padding-top: 56.25%;
  margin: 5px;
}

.player-container iframe {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.player-container .title-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-bottom: 1px solid #eee;
}

.player-container .title-container .title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.player-container .title-container :nth-child(2) {
  color: #888;
  display: flex;
}

.player-container .title-container .likes  img {
  opacity: 0.5;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  margin: 0 5px;
}

.player-container .title-container .view-count {
  flex: 1;
}

.player-container .title-container .likes {
  flex: 0 0 200px;
}

.player-container .description {
  margin: 10px;
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px
}

.player-container .description :first-child {
  flex: 0 0 150px;
  font-weight: 550;
}

.player-container .description :nth-child(2) {
  color: #888;
}

.player-container .comments {
  margin: 10px;
  font-weight: 550;
}
