.related-videos {
  text-align: left;
  font-size: 0.7rem;
  color: #888;
}

.related-videos .stats {
  flex-direction: column;
}

.related-videos .meta :not(:first-child) {
  color: #888;
}

.related-videos .title {
  color: #111;
}
